<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/signup.css">
</head>
    <body>
        <section>
          <div class="container">
            <div class="user signinBx">
              
              <div class="formBx">
                <form action="/users/signup" method="post">
                  <h2><%=role%> Sign Up</h2>
                  <input type="text" name="firstname" placeholder="First Name" />
                  <input type="text" name="lastname" placeholder="Last Name" />
                  <input type="email" name="email" placeholder="Email" />
                  <input type="password" name="password" placeholder="Password" />
                  <input type="password" name="confirmPassword" placeholder="Confirm Password" />
                  <div class="signupbtn">
                      <input type="submit" name="" value="Login" />

                  </div>
                  <p class="signup">
                    Don't have an account ?
                    <a href="#" >Sign in</a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </section>
      </body>

</html>